/* body{
    margin: 10rem;
} */
.card{
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 50px;
background: #dedede;
box-shadow:  20px 20px 60px #bdbdbd,
             -20px -20px 60px #ffffff; 
    
    
}

.cards{
    margin: 5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}

img{
    height: 18rem;
}

.mybtn{
    padding-inline: 5rem;
}

.nav-link-custom {
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
  